<!DOCTYPE html>

<!--

To change this license header, choose License Headers in Project Properties.

To change this template file, choose Tools | Templates

and open the template in the editor.

-->

<html>

    <head>

        <title>后台管理系统</title>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">      

        <link rel="stylesheet" type="text/css" href="public/bootstrap/css/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css" href="public/admin/css/share.css"/>

         <link rel="stylesheet" type="text/css" href="public/css/page.css"/>

        <script type="text/javascript" src="public/js/jquery-2.0.0.js"></script>

        <script type="text/javascript" src="public/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="public/admin/js/user.js"></script>
        <script type="text/javascript" src="public/layer/layer.js"></script>

    </head>

    <body> 

        <div class="mainContent-top"> 

            <form class="form-inline" role="form">

           

                <a id="addBtn"  class="btn btn-default pull-right" href=".?p=admin&c=user&a=add" target="_self">新增</a>

            </form>

        </div>

        <div class="mainContent-box ">

            <table class="table table-hover table-border">

                <thead>

                    <tr>

                        <th>id</th>

                        <th>用户名</th>

                        <th>注册时间</th>  

                        <th>上次登录时间</th>
                        <th>邮箱</th>
                       
                        
                        <th>改密</th>
                        <th>删除</th>

                       

                    </tr>

                </thead>

                <tbody>

                    {foreach from=$data  item=cat}      

                    <tr>

                        <td>{$cat.id}</td>
                        <td>{$cat.username}</td>
                        <td>{$cat.ctime|date_format:"%Y-%m-%d %I:%M %p"}</td>
                        <td>{$cat.utime|date_format:"%Y-%m-%d %I:%M %p"}</td>
                        <td>{$cat.email}</td>
                     
                        <td><a href="?p=admin&c=user&a=edit&id={$cat.id}">修改</a></td>
                        <td><a href="javascript:void(0);" data_id="{$cat.id}" class= "delete">删除</a></td>
               

                    </tr>



                    {/foreach}



                </tbody>

            </table>

        </div>

        <div class="paging">{$page}</div>

        <div style="height: 100px;"></div>

    </body>

</html>

