<!DOCTYPE html>
<html>
    <head>
        {include file="home/public/top.html"}
        <link rel="stylesheet" type="text/css" href="public/css/category.css" />
        <script type='text/javascript' src='public/js/home_new.js' ></script>
    </head>
    <body>
        {include file="home/public/header.html"}
        {include file="home/public/banner.html"}
        <div class="wide-1200 clearfix" style="margin-top: 20px;">
<!--            <div class="pull-left width-238">
                <div class="side_category">
                    <div class="cate_title">Information</div>
                    <dl class="cate_menu">
                        <dd><a href="?p=home&c=contact&a=index&no">About us</a></dd>      
                        <dd><a href="?p=home&c=contact&a=link&no">contact us</a></dd>  
                    </dl>
                </div>
            </div>-->
            <div  style="padding: 10px 20px;">                 
                <div style="border: 1px dotted #080808;margin-top: 10px;padding:10px 20px;color:#333;font-size: 14px;">
                    <div class="row" style="padding: 5px 0;">
                    <div class="col-xs-2 text-right">Address:</div>
                    <div class="col-xs-10"> No. 6, Jixiang Road 1st Lane, Duanzhou District,  Zhaoqing City, Guangdong Province, 526020 China</div>
                </div>
                <div class="row" style="padding: 5px 0;">
                    <div class="col-xs-2 text-right">Tel:</div>
                    <div class="col-xs-10"> 0086-758-5975-008 </div>
                </div>
                <div class="row" style="padding: 5px 0;">
                    <div class="col-xs-2 text-right">Fax:</div>
                    <div class="col-xs-10"> 0086-758-2777-099</div>
                </div>
                <div class="row" style="padding: 5px 0;">
                    <div class="col-xs-2 text-right">E-mail:</div>
                    <div class="col-xs-10"> info@idealgiftscn.com</div>
                </div>
                </div>
            </div>

        </div>
        <div class="blank25"></div>
        {include file="home/public/footer.html"}       
    </body>
</html>
