<div style="background: url(public/images/background.png)">

<div id="header" style="margin: 0 auto;width:1200px;padding: 20px;clear:both">  

    <img src="public/images/logo1.jpg" width="120px">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="public/images/banner/banner.gif" >

    <div class="head_info fr" style="float:right;margin-right:-50px">

<span class="glyphicon glyphicon-user "></span><a href="?p=home&c=user&a=register">register</a>
 <form  role="form" onsubmit="return false;" id="login_user_form">
     <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input id="username" name="username" class="form-control" placeholder="please input username" maxlength="20" type="text">
                </div>

      <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input id="password" name="password" class="form-control" placeholder="please input password" maxlength="20" type="password">
                </div>
                    <div >
              	<button   class="btn btn-info" style="width:90px" id="login_user">login</button>
            </div>
</form>
    </div>
</div>

 

</div>

<div class="NavBgColor" id="nav_outer clearfix" style="border-bottom: 1px solid #ccc;">

    <div  class="wide-1200" id="nav">	

<!--        <div class="nav_menu">

            <div class="nav_title CategoryBgColor"><a href="">All Categories<b></b></a></div>

            <div class="nav_categories" style="display: none; height: 490px;">

                <ul>

                    {foreach from=$first_category" item=cat1}

                    <li data="[]">

                        <h2>

                            {$cat1}

                        </h2>

                    </li>

                    {/foreach}

                </ul>

            </div>

        </div>-->

        <ul class="nav_item">

            <li class="NavBorderColor2">

                <a href="?p=home&c=index&a=index" class="NavBorderColor1 NavHoverBgColor">Home</a>

            </li>

            <li class="NavBorderColor2">

                <a href="?p=home&c=category&a=index" class="NavBorderColor1 NavHoverBgColor">Products</a>

            </li>



            <!--<li class="NavBorderColor2">

                <a href="?p=home&c=promotion&a=index" class="NavBorderColor1 NavHoverBgColor">Promotion</a>

            </li>-->

            <li class="NavBorderColor2">

                <a href="?p=home&c=technic&a=index" class="NavBorderColor1 NavHoverBgColor">Technic</a>

            </li>
            
            <li class="NavBorderColor2">
            	<a href="?p=home&c=transportation&a=index" class="NavBorderColor1 NavHoverBgColor">Transport</a>
            </li>

            <li class="NavBorderColor2">

                <a href="?p=home&c=contact&a=link" class="NavBorderColor1 NavHoverBgColor">About us</a>

            </li>

            <li class="NavBorderColor2">

                <a href="?p=home&c=contact&a=index" class="NavBorderColor1 NavHoverBgColor">Contact</a>

            </li>

 

        </ul>

        <form action="?p=home&c=good&a=search_goods" method="get" style="float: right;margin-right: -50px; margin-top: 3px;border: 0px;">

            <table>

                <tr><td><input type="text" name="good_name" style="height: 36px;line-height: 36px;width: 260px;font-size: 16px;padding-left: 10px;" placeholder="search products"></td>                

                    <td><input type="submit" style="background: url(public/images/search.png);width: 36px;height: 36px;display: inline-block;border: 0px;" value=""></td>

                <input type="hidden" name="p" value="home"> 

                <input type="hidden" name="c" value="good">  

                <input type="hidden" name="a" value="search_goods">  

                </tr>

            </table>

        </form>

    </div>

</div>
{if !empty($user)} 
<div style="margin:0 auto; width:100%;height:30px; background:#FFE4C4;" class="f1">
    <span style="float:left;margin-top:8px;margin-left:10px"><b>dear {$user}!  <a href="?p=home&c=user&a=logout">logout</a></b></span>  
    <span style="float:right;margin-top:8px;margin-right:10px"><b><a href="?p=home&c=user&a=index">go to my account</a></b></span>
</div>
{/if}
