<!DOCTYPE html>
<html>
    <head>
        {include file="home/public/top.html"}
        <link rel="stylesheet" type="text/css" href="public/css/technic.css" />
        <script type='text/javascript' src='public/js/home_new.js' ></script>
    </head>
    <body>
        {include file="home/public/header.html"}
        {include file="home/public/banner.html"}
        <div id="main" class="wide-1200" style="margin-top: 20px;">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#production" data-toggle="tab">
                        Production Artwork
                    </a>
                </li>
                <li><a href="#printing" data-toggle="tab">Printing technical information</a></li>
                <li><a href="#date" data-toggle="tab">Validity date for molds and set up</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="production">
                    <dl>
                        <dt>PRODUCTION ARTWORK</dt>
                        <dd>We accept digital art on CDs or by e-mail. For faster service and better imprint quality, we recommend providing artwork via e-mail. Artwork should not need any additional touch-up, design, color separation or rearranging for use.</dd>
                        <dd>The use of licensed artwork requires a written release. Artwork when submitted is assumed to be in full compliance with laws governing copyrights, trademarks, etc.Factory reserves the right to make slight alterations in copy and logos to adapt to imprinting processes.</dd>                       
                    </dl>
                    <dl>
                        <dt>Electronic Artwork</dt>
                        <dd>Artwork will be accepted digitally from the following programs:</dd>
                        <dd>※ Adobe Illustrator® (all fonts converted to outlines)—preferred format</dd>                       
                        <dd>※ Photoshop® (black-and-white .tiff, .pict, .jpeg files scanned or created at 1200 DPI[high resolution] and at approximately the actual size of the imprint area)</dd>
                        <dd>※ FreeHand® (saved as an Adobe Illustrator® ".ai" format, Mac or PC)</dd>
                        <dd>※ InDesign® files must be sent with the linked file. A linked file may include .eps, .pict,.tiff or .jpeg file formats</dd>
                        <dd>※ CorelDraw® (Use Publish PDF)</dd>
                        <dd>E-mail Artwork: Please submit artwork including purchase order number in the subject line of the e-mail. Multiple files should be compressed in either .zip or .sit format. File size limitation via e-mail is 10MB. </dd>
                    </dl>
                    <dl>
                        <dt>Vector Artwork</dt>
                        <dd>We recommend using vector art because it produces the highest quality artwork. It is "resolution independent," which means it can be enlarged without affecting the quality of your imprint.</dd>
                    </dl>
                    <dl>
                        <dt>Raster artwork</dt>
                        <dd>Raster Art is "resolution dependent." When you change the size of an imprint, you change the quality. This means that the resolution (DPI) of your file is critical.Files must be at least 300 DPI at 100% of final size.</dd>
                    </dl>
                    <dl>
                        <dt>Hard-copy artwork</dt>
                        <dd>If electronic art is not available, please provide sharp, high-contrast, color-separated or black-and-white artwork. Artwork will be returned upon request or it will be discarded.</dd>
                    </dl>

                </div>
                <div class="tab-pane fade" id="printing">
                    <dl>
                        <dt>SOFT ENAMEL</dt>
                        <dd>Soft enamel cosists of liquid paint that is applied to engraved areas, where it will remain slightly recessed. It will usually be applied on metals such as iron, brass or zamac.</dd>
                    </dl>
                    <dl>
                        <dt>RESIN ENAMEL</dt>
                        <dd>Resin enamel is liquid paint with heavy density that is applied to engraved areas. It has a shallow aspect providing a higher quality finishing to the product. It is usually applied on material such as brass and zamac.</dd>
                    </dl>
                    <dl>
                        <dt>STAMPING</dt>
                        <dd>This process is used to engrave metals, which is achieved by using a mold with logo recessed in it. By appling high mechanical pressure the mold is then pressed onto the metal and leave the logo marked on the designated area. This method is for iron, brass and copper materials.</dd>
                    </dl>
                    <dl>
                        <dt>LASER</dt>
                        <dd>laser is a ray that generates heat and used for engraving into hard material, such as wood or metal. This method will produce an engraved logo with very long lifespan.</dd>
                    </dl>
                    <dl>
                        <dt>SCREEN PRINTING</dt>
                        <dd>Ink is applied through a fine woven fabric screen with open spaces, where the ink will appear on the product, leaving a color imprint on the surface of the product. This method is used to print on flat surfaces.</dd>
                    </dl>
                    <dl>
                        <dt>OFFSET PRINTING</dt>
                        <dd>This method uses 4 colors (Cyan, Magenta, Yellow and Black) to reprocuce colored artwork. The process allows you to print complicated images such as photo or multiple colored artwork as you want. A exactly match cannot be guaranteed, approximate 95% color can be achieved.</dd>
                    </dl>
                    <dl>
                        <dt>SUBLIMATION</dt>
                        <dd>This method is used to tranfer CMYK artwork onto the final product through heat and pressure. The process allows you to print as many different colors as you want. A exactly match cannot be guaranteed, approximate 95% color can be achieved.</dd>
                    </dl>
                    <dl>
                        <dt>EMBROIDERY</dt>
                        <dd>A design is stitched with thread on the surface of the product’s material, Which is usually applied on fabrics.</dd>
                    </dl>

                </div>
                <div class="tab-pane fade" id="date">
                    <table class="table">                      
                        <tbody>
                            <tr>
                                <td>●   METAL PRODUTS</td>
                                <td>1 Year</td>
                            </tr>
                            <tr>
                                <td>●   PVC PRODUTS</td>
                                <td>1 Year</td>
                            </tr>
                            <tr>
                                <td>●   LANYARDS(screen printing plate)</td>
                                <td>6 Months</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;LANYARDS(dyeing charge)</td>
                                <td>Charge per time</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;LANYARDS(sublimation)</td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>●   STARFLEX(sealing mold)</td>
                                <td>1 Year</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;STARFLEX(printing plate)</td>
                                <td>6 Months</td>
                            </tr>
                            <tr>
                                <td>●   OFFSET PRINTING</td>
                                <td>Charge per time</td>
                            </tr>
                            <tr>
                                <td>●   SUBLIMATION PROCESS(except lanyard)</td>
                                <td>Charge per time</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="blank25"></div>
        {include file="home/public/footer.html"}       
    </body>
</html>
