<!DOCTYPE html>
<html>
    <head>
        {include file="home/public/top.html"}
        <link rel="stylesheet" type="text/css" href="public/css/home_new.css" />
        <script src="public/js/home_new.js" type="text/javascript"></script>
        <script src="public/js/verificationNumbers.js"></script>
        <script src="public/js/user.js" type="text/javascript"></script>
        <script type="text/javascript" src="public/js/jsonUtil.js"></script>
        <script type="text/javascript" src="public/layer/layer.js"></script>
        

    </head>
 
    
    <body>
        {include file="home/public/header.html"}
        
        
        <div class="wide-1200 clearfix" style="margin-top: 20px;">
            {include file="home/user/left.html"}
            
            <div class="width-950 pull-right">
            <div   class="btn-lg">
              <H1>CHANGE EMAIL</H1>
              </div>
              
             <form  role="form" onsubmit="return false;" id="modify_user_email">

            <div class="form-group has-feedback">
                <label for="username" class="control-label">old email</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input disabled value="{$user.0.email}"  class="form-control"  maxlength="20" type="text">
                </div>

         
            </div>

            <div class="form-group has-feedback">
                <label for="password">new email</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input id="email" name="email" class="form-control" placeholder="please input new email" maxlength="60" type="text">
                </div>
            </div>
 
 

            <div>
            	<input  value="{$user.0.email}" id="email_old" name="email_old" class="form-control"   type="hidden">
       
              	<button   class="form-control btn btn-info" id="modify_email">modify</button>
            </div>
        </form>

            </div>

        </div>
        {include file="home/public/footer.html"}  

    </body>
</html>
