<!DOCTYPE html>
<html>
    <head>
        {include file="home/public/top.html"}
        <link rel="stylesheet" type="text/css" href="public/css/category.css" />
        <link rel="stylesheet" type="text/css" href="public/css/page.css" />
        <link rel="stylesheet" type="text/css" href="public/css/good.css" />
        <script type='text/javascript' src='public/js/home_new.js' ></script>
        <script type='text/javascript' src='public/js/good.js' ></script>
        <link rel="stylesheet" type="text/css" href="public/css/search.css" />
    
    </head>
    <body>
        {include file="home/public/header.html"}
        {include file="home/public/banner.html"}
        <div class="wide-1200 clearfix" style="margin-top: 20px;">
            {include file="home/public/category.html"}
            <div class="width-950 pull-right">

                <table id="search" class="table table-striped table-hover">
                    <caption>search&nbsp;&nbsp;(total:{$count})</caption>
                    <thead>
                        <tr>
                            <th>image</th>
                            <th>goods_code</th>
                            <th>goods_name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$search item=val}
                        <tr good_id="{$val.good_id}" >
                            <td><img src="{$val.good_small_img}" width="100"></td>
                            <td>{$val.good_code}</td>
                            <td>{$val.good_name}</td>
                        </tr>
                        {/foreach} 
                    </tbody>
                </table>
                  <div class="paging">{$page}</div>
            </div>

        </div>
        <div class="blank25"></div>
        {include file="home/public/footer.html"}       
    </body>
</html>
