<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="public/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="public/admin/css/share.css" />
        <link rel="stylesheet" type="text/css" href="public/admin/css/good_add.css" />
        <script type="text/javascript" src="public/js/jquery-2.0.0.js"></script>
        <script type="text/javascript" src="public/js/json2.js"></script>
        <script type="text/javascript" src="public/js/jsonUtil.js"></script>
        <script type="text/javascript" src="public/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="public/admin/js/share.js"></script>
        <script type="text/javascript" src="public/layer/layer.js"></script>
        <script type="text/javascript" src="public/plupload-2.1.2/js/plupload.full.min.js"></script>
 

    </head>
    <body>
        <div style="width:800px;margin-top: 20px;margin-bottom: 200px;">
            <form class="form-horizontal" role="form" onsubmit="return false;" id="update_order_form">
       

                <div class="form-group">
                    <label for="good_name" class="col-sm-2 control-label">商品名称</label>
                    <div class="col-sm-10">
                        <input disabled type="text" class="form-control" id="good_name"  name="good_name" value="{$data.gname}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="good_code" class="col-sm-2 control-label">订单编号</label>
                    <div class="col-sm-10">
                        <input disabled type="text" class="form-control" id="good_code"  name="good_code" value="{$data.order_number}">
                    </div>
                </div>                                     <div class="form-group">                    <label for="good_code" class="col-sm-2 control-label">订单价格</label>                    <div class="col-sm-10">                        <input  disabled type="text" class="form-control" id="good_code"  name="good_code"  value="{$data.order_price}">                    </div>                </div>
 

                <div class="form-group">
                    <label for="sale_price" class="col-sm-2 control-label">商品售价</label>
                    <div class="input-group col-sm-10 pl-15 pr-15">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" >
                                $
                            </button>
                        </span>
                        <input disabled type="text" class="form-control" id="sale_price" name="sale_price" 
                               value="{$data.gprice}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="discount_price" class="col-sm-2 control-label">商品数量</label>
                    <div class="input-group col-sm-10 pl-15 pr-15">
                      
                        <input disabled type="text" class="form-control" id="discount_price" name="discount_price"
                               value="{$data.number}">
                    </div>
                </div>
 
                <div class="form-group">
                    <label for="shipping_info" class="col-sm-2 control-label">配送方式</label>
                    <div class="col-sm-10">   <input  type="text" class="form-control" id="express_name" name="express_name"  value="{$data.express_name}">
                       
                    </div>
                </div>                                                <div class="form-group">                    <label for="shipping_info" class="col-sm-2 control-label">配送单号</label>                    <div class="col-sm-10">   <input  type="text" class="form-control" id="express_number" name="express_number" value="{$data.express_number}">                                           </div>                </div>

                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-3">
                        <input type="hidden" name="order_number" value="{$data.order_number}"/>
                        <button  class="btn btn-primary pull-right" id="go_back">返回</button>
                        <button  class="btn btn-success pull-right " id="update_order">提交</button>                       
                    </div>
                </div>
         
            </form>
        </div>
    </body>
</html> 

