<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="public/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="public/admin/css/share.css" />
        <link rel="stylesheet" type="text/css" href="public/admin/css/good_add.css" />
        <script type="text/javascript" src="public/js/jquery-2.0.0.js"></script>
        <script type="text/javascript" src="public/js/json2.js"></script>
        <script type="text/javascript" src="public/js/jsonUtil.js"></script>
        <script type="text/javascript" src="public/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="public/admin/js/share.js"></script>
        <script type="text/javascript" src="public/layer/layer.js"></script>
        <script type="text/javascript" src="public/plupload-2.1.2/js/plupload.full.min.js"></script>
        <script type="text/javascript" src="public/admin/js/good_add.js"></script>

    </head>
    <body>
        <div style="width:800px;margin-top: 20px;margin-bottom: 200px;">
            <form class="form-horizontal" role="form" onsubmit="return false;" id="update_good_form">
       

                <div class="form-group">
                    <label for="good_name" class="col-sm-2 control-label">商品名称</label>
                    <div class="col-sm-10">
                        <input disabled type="text" class="form-control" id="good_name"  name="good_name" value="{$data.good_name}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="good_code" class="col-sm-2 control-label">商品编号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="good_code"  name="good_code"
                               value="{$data.good_code}">
                    </div>
                </div>
 

                <div class="form-group">
                    <label for="sale_price" class="col-sm-2 control-label">商品售价</label>
                    <div class="input-group col-sm-10 pl-15 pr-15">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" >
                                $
                            </button>
                        </span>
                        <input type="text" class="form-control" id="sale_price" name="sale_price" 
                               value="{$data.sale_price}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="discount_price" class="col-sm-2 control-label">商品数量</label>
                    <div class="input-group col-sm-10 pl-15 pr-15">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" >
                                $
                            </button>
                        </span>
                        <input type="text" class="form-control" id="discount_price" name="discount_price"
                               value="{$data.discount_price}">
                    </div>
                </div>
 
                <div class="form-group">
                    <label for="shipping_info" class="col-sm-2 control-label">配送信息</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" id="shipping_info" name="shipping_info">{$data.shipping_info}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-3">
                        <input type="hidden" name="order_number" value="{$id}" />
                        <input type="hidden" name="createTime" value="{$data.createtime}" />
                        <button  class="btn btn-primary pull-right" id="go_back">返回</button>
                        <button  class="btn btn-success pull-right " id="update_good">提交</button>                       
                    </div>
                </div>
                <script>
                    $('select[name="category_id"]').val({$data.category_id});
                </script>
            </form>
        </div>
    </body>
</html>
